body {
    height: 100vh;
}

main {
    overflow: auto;
}

.my-search-bar {
    background-color: #e5e5e5;
    color: #929292;
}

a {
    text-decoration: none;
}
aside {
    background-color: #051e34;
    width: 200px;
    min-height: 100vh;
}

aside li:hover{
    background-color: grey;
}

.hero-section, .content-section {
    width: 100%;
}

.hero-section .badge {
    background-color: #165bba !important;
}

.bg-image {
    background-image: url(../img/sidebar-bg.png);
}

.dropdown-toggle::after {
    content: none;
}

@media screen and (max-width: 992px) {
    aside {
        width: 80px;
    }
}

