body {
    height: 100vh;
}

main {
    overflow: auto;
}

section {
    min-height: 100px;
}

.my-search-bar {
    background-color: #e5e5e5;
    color: #929292;
}

a {
    text-decoration: none;
}
aside {
    background-color: #051e34;
    width: 200px;
    min-height: 100vh;
}

.hero-section, .content-section {
    width: 100%;
}

.bg-image {
    background-image: url(../img/sidebar-bg.png);
}

@media screen and (max-width: 992px) {
    aside {
        width: 80px;
    }
}

.container-general {
    height: 100vh;
}